@import 'colors';

footer {
  width: 100%;
  position: fixed;
  text-align: center;
  border-top: 2px $fg_color solid;
  font-size: 4rem;
  height: 10%;
  margin-top: auto;
  display: flex;

  a {
    margin: auto;
    display: inline-block;
    text-align: center;
  }
}