nav {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-bottom: #b00b69 2px solid;
  box-shadow: #b00b69 0 0 10px;
}

nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: #b00b69;


}

li {
  margin: auto 30px;
  display: inline-block;
}

li a {
  display: block;
  padding: 1.2em;
  text-decoration: underline;
  font-size: 1.3em;
  color: hsl(326, 88%, 37%);
}

.current {
  font-weight: 700;
}
