.container
  .column.left
    .info_box
      %p This is my website. It's created to show of my skill ins in programming and being able to post my thoughts without any censure.
      %p= "Also you can checkout my #{link_to 'Reddit', 'https://reddit.com/user/_0N1X_', target: '_blank'} and my #{link_to 'Github', '#', target: '_blank'}".html_safe

  .column.right
    %p Under construction...
