.container
  .column.left
    - @blogs.each do |b|
      .blog_box
        %p.post_author= b.name
        %p.post_heading= b.title
        %p.post_tag= b.tag
        %p.post_body= b.content
  .column.right
    %p some Cur verpa studere?
