@import 'shared/colors';
@import 'shared/container';


.column {
  width: 50%;
  margin: 5%;
  padding: 3px;

}

.info_box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



@media screen and (max-width: 900px) {
  .container {
    flex-wrap: wrap;
  }
  .column {
    width: 100%;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }


}

@media screen and (max-width: 350px) {
  header {
    display: block;
    max-height: 100vh;
    font-size: 2em;

  }
  .greeting_text {
    text-align: center;
    font-weight: 700;
  }
  .greeting_text p {
    margin: auto;
  }
}


h2 {
  margin: 0.7em;
}

.text {
  margin: 0.7em;
  max-width: 75ch;
}
