// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Chathcer

#main_canvas {
	background:	cyan;
	width:		400px;
	height:		400px;
}
